---
import Layout from "../layouts/Layout.astro";

import VideoBg from "../components/video-bg.astro";

import "../styles/global.css";

import menuVideo from "../assets/video/stats.mp4";
import menuMobileVideo from "../assets/video/stats-mobile.mp4";
import AboutMeItem from "../components/about-me-item.astro";

import { section } from "../constants/about-me";
---

<Layout>
    <VideoBg
        src={menuVideo}
        mobileSrc={menuMobileVideo}
        loopStart={0}
        loopEnd={20}
        overlay={true}
        class="object-left sm:object-center"
    />

    <main class="flex items-center h-full">
        <h1 class="sr-only" id="page-heading">Sobre mí</h1>
        <section aria-labelledby="page-heading">
            <ul class="space-y-1">
            {section.map((sec) => <AboutMeItem skill={sec} key={sec.title} />)}
            </ul>
        </section>
    </main>
</Layout>
