---
import Layout from "../layouts/Layout.astro";

import VideoBg from "../components/video-bg.astro";
import NavItem from "../components/nav-item.astro";

import { pages } from "../constants/pages";

import "../styles/global.css";
import menuVideo from "../assets/video/menu.mp4";
import menuMobileVideo from "../assets/video/menu-mobile.mp4";
---

<Layout>
    <VideoBg
        src={menuVideo}
        mobileSrc={menuMobileVideo}
        loopStart={9}
        loopEnd={16}
        overlay={true}
    />
    <h1 class="sr-only">Portafolio</h1>
    <main class="container mx-auto flex h-screen">
        <nav
            class="nav-menu flex flex-col font-anton uppercase opacity-0
            ml-[15%] lg:ml-[calc(50%-2rem)]
            text-4xl sm:text-5xl
            pt-[30%] lg:pt-[10%]
            lg:justify-center"
            aria-label="Navegación principal"
        >
            <ul>
                {pages.map((page) => <NavItem page={page} key={page.href} />)}
            </ul>
        </nav>
    </main>
</Layout>

